/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.curriculo-container {
    max-width: 800px;
    margin: 0 auto;
    background: #000000;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

.titulo {
    font-size: 1.5em;
    cursor: pointer;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.titulo:hover {
    background-color: #45a049;
}

.card {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
    transition: max-height 0.5s ease-out, padding 0.5s ease;
    max-height: 0;
    overflow: hidden;
}

.card.show {
    display: block;
    max-height: 500px; /* Ajuste o tamanho máximo conforme necessário */
    padding: 20px;
}

.card p {
    margin-top: 10px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .curriculo-container {
        padding: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    .titulo {
        font-size: 1.2em;
    }
}